.searchbar {
    font-size: var(--first-font-size);
    position: fixed;
    top: var(--half-header-height);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    border-radius: 10px;
    color: black;
}
.searchbar::placeholder {
    color: gray;
}

.home-page,
.order-selection-container,
.center-setter,
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-selection-container,
.posts {
    flex-direction: row;
    justify-content: space-around;
}

.order-selection-container {
    margin: 15px 0px 15px 0px;
    width: 30vw;
}
.order-selection-container > * {
    font-size: var(--post-font-size);
}
.order-selection-container > p {
    color: black;
}

.posts {
    width: 100vw;
    flex-wrap: wrap;
}

.center-setter {
    margin-top: var(--header-height);
    height: var(--non-header-height);
}

.created-time-option,
.upvotes-option {
    width: 30%;
}