.navbar {
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar > * {
    margin: 0px 30px 0px 20px;
}
nav {
    font-size: var(--second-font-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > a {
    height: var(--header-height);
    display: flex;
    align-items: center;

    text-decoration: none;
    padding: 0px 15px 0px 15px;
}
nav > a:hover {
    background-color: #bfd7e73f;
    transition: 0.25s;
}
