* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --header-height: 10vh;
  --half-header-height: 5vh;
  --non-header-height: 90vh;
  --nav-width: 20vw;
  --first-font-size: 1.5em;
  --second-font-size: 1.25em;
  --info-input-width: 80vw;
  --context-input-height: 55vh;
}

body {
  margin-top: var(--header-height);
}

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: #ECF2FF;
  box-shadow: 2px 2px 3px;
  border: none;
  outline: 0px solid black;
  transition: outline 0.1s;
}
button:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px;
  transition: 0.1s;
}
button:hover{
  outline: 2px solid black;
  outline-offset: -2px;
  transition: 0.1s;
}